/*
This is an example of how to use the image sprite in your own CSS files
*/
.Content-Images-Sprites-doc_viewer-retina-actual-size@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -20px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-add-comment@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -72px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-annotation-groups@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -124px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-best-fit@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -176px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-doc-info@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -228px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-draft-mode@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -280px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-first-document@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -332px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-first-image@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -384px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-fit-to-height@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -436px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-fit-to-width@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -488px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-floppy-disk@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -540px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-last-document@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -592px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-last-image@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -644px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-launch-native@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -696px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-next-annotation@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -748px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-next-document@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -800px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-next-image@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -852px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-next-keyword@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -904px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-next-page@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -956px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-normal-mode@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1008px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-prev-annotation@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1060px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-prev-document@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1112px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-prev-image@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1164px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-prev-keyword@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1216px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-prev-page@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1268px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-preview-mode@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1320px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-print@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1372px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-redaction-fill@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1424px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-redaction-invert@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1476px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-redaction-standard@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1528px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-remove-highlight@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1580px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-rotate-180@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1632px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-rotate-left@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1684px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-rotate-right@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1736px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-rotate-sticky@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1788px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-search-next@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1840px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-search-prev@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1892px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-search-start@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1944px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-select-redaction@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -1996px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-supervision-mode@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -2048px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-text-selection@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -2100px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-toggle-highlight@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -2152px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-zoom-in@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -2204px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-zoom-out@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -2256px -20px;
}
.Content-Images-Sprites-doc_viewer-retina-zoom-reset@2x {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('doc-viewer-2x.png') -2308px -20px;
}
