@import "_mixins";
/*#region Buttons */
input[type=submit] {
    font-weight: $medium-font-weight;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 6px;
    outline: none;

    &:hover, &:focus {
        text-decoration: none;
    }

    &:active, &.active {
        outline: 0;
    }

}

    .btn + .btn {
        margin-left: 5px;
    }

/*#region Button colors*/
.btn-primary,
.ui-dialog .ui-dialog-buttonpane .btn-primary {
    font-family: $font-family;
    font-weight: $medium-font-weight;
    background-color: $color-primary;
    background-image: none;
    color: $btn-color-light;
    border: 0;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($color-primary, 7%);
    }

}

.btn-secondary,
.ui-dialog .ui-dialog-buttonpane .btn-secondary {
    background-color: $color-secondary;
    background-image: none;
    border: 0;
    color: $btn-color-light;

    &:hover,
    &:focus,
    &:active {
        background-color: scale-color($color-secondary, $saturation: -6%, $lightness: -7%);
    }

}

.btn-success {
    background-color: $color-success;
    color: $btn-color-light;

    &:hover,
    &:focus,
    &:active {
        background-color: scale-color($color-success, $saturation: -6%, $lightness: -7%);
    }

}

.btn-danger,
.ui-dialog .ui-dialog-buttonpane .btn-danger {
    background-color: $color-danger;
    background-image: none;
    color: $btn-color-light;
    border: 0;

    &:hover,
    &:focus,
    &:active {
        background-color: scale-color($color-danger, $saturation: -9%, $lightness: -8%);

    }

}

.btn-warning {
    background-color: $color-warning;
    color: $btn-color-light;

    &:hover,
    &:focus,
    &:active {
        background-color: scale-color($color-warning, $saturation: -7%, $lightness: -7%);
    }

}  

.btn-default,
.ui-dialog .ui-dialog-buttonpane button.btn-default {
    background-color: #BDC7CF;
    color: #4D5B69;
    border: 0;
    background-image: none;

    &:hover,
    &:focus,
    &:active {
        background-color: #B1BBC4;
    }

}    

.ui-dialog-buttonpane .btn-group .btn {
    margin-right: 0;
}

    .ui-dialog-buttonpane .btn-group .btn + .btn {
        border-left: 1px solid rgba(0,0,0,.25);
    }

.btn:disabled,
.ui-dialog .ui-dialog-buttonpane .btn:disabled {
    background-color: #FFFFFF;
    border: 1px solid #BDC0C3;
    cursor: not-allowed;
    color: #C6C9CC;
}

/*#endregion  button colors*/

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 20px;
    font-size: 18px !important;
    line-height: 1.33;
    border-radius: 6px;
}

.input-group-btn > .btn-lg {
    padding: 11px 20px 12px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px !important;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group-btn > .btn-sm,
.input-group-btn > .btn-group-sm > .btn {
    padding: 6px 10px;
}

/*#region Button Group */

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    > .btn {
        position: relative;
        float: left;

        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }
    }
}

.btn-group {
    > .btn:disabled {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    &-sm > .btn:disabled {
        padding: 4px 10px;
    }

    &-lg > .btn:disabled {
        padding: 11px 20px 12px;
    }

    .btn + .btn {
        margin-left: -1px;
        border-left: 1px solid rgba(0,0,0,.25);
    }

    & > .btn:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    & > .btn:first-child {
        margin-left: 0;

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 1px solid rgba(0,0,0,.25);
        }
    }

    & > .btn:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    & .dropdown-toggle:active {
        outline: 0;
    }
}

.btn-group-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;

    + .btn {
        margin-top: -1px;
        margin-left: 0;
    }

    &:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    &:not(:first-child) {
        border-top: 1px solid rgba(0,0,0,.25);
    }
}

/*#endregion */

.btn-block {
    display: block;
    width: 100%;

    + .btn-block {
        margin-left: 0;
    }
}

/*#endregion Buttons */