@import "_mixins";
/*#region Form Controls */

/* Change Autocomplete styles in Chrome. IGNORE VS warnings of invalid psuedo element*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $brand-blue-dark !important;
}

fieldset {
    border: none;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    list-style-type: none;
    padding-left: 0;
}

select {
    background-color: #FAFDFF;
    border: 1px solid #A3ABB4;
    border-radius: 3px;
}

input[type="search"] {
    box-sizing: inherit;
    -webkit-appearance: searchfield;
}

label {
    display: inline-block;
    font-family: $font-family;
    font-weight: $medium-font-weight;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
}

.control-label {
    text-align: right;
}

input[type=checkbox],
input[type=radio] {

    + label + label {
        cursor: pointer;
        display: inline-block;
        font-weight: $base-font-weight;
        max-width: 100%;
        margin-bottom: 5px;
        vertical-align: top;
    }

    &:disabled + label + label {
        color: #C6C9CC;
        box-shadow: none;
        cursor: not-allowed;
    }

    &:disabled + label {
        cursor: not-allowed;
    }
    
}

.form-control {
    height: 34px;
    width: 100%;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.4;
    color: #4D4E4F;
    background-color: #FAFAFA;
    background-image: none;
    border: 1px solid $gray-base;
    box-shadow: inset 1px 0 3px rgba(0,0,0,.2);
    border-radius: 4px;
    -webkit-transition: border-color ease-out .2s, box-shadow ease-out .15s, background-color ease-out .15s;
    transition: border-color ease-out .2s, box-shadow ease-out .15s, background-color ease-out .15s;
}

select.form-control {
    background-color: #FAFDFF;
    border: 1px solid #A3ABB4;
    border-radius: 3px;
    box-shadow: none;
}

    select:hover, select.form-control:hover {
        background-color: #F3F8FA;
    }

    select[multiple].form-control {
        height: auto;
    }


textarea.form-control {
    height: auto;
    overflow: auto;
}

.form-control:hover {
    background-color: white;
}

.form-control:focus {
    border-color: $brand-blue;
    background-color: white;
    outline: 0;
    box-shadow: 0 0 6px rgba(114,215,241,0.75);
}
.form-control.has-success {
  background: white;
  @include has-success
}
.form-control.has-error {
  background: white;
  @include has-error
}
.form-control.has-warning {
    background: white;
    @include has-warning;
}

.form-control:disabled,
.form-control:disabled:hover {
    color: $color-disabled;
    background-color: white;
    border: 1px solid #BDC0C3;
    box-shadow: none;
    cursor: not-allowed;
}

/*#region Inline Forms*/
.form-inline .form-group {
    display: inline-block;
    vertical-align: middle;

    label {
	    display: block; 
    }
    .form-control {
        display: inline-block;
        vertical-align: middle;
}
    & + .btn {
	    vertical-align: bottom;
    }
}
    
/*#endregion Inline Forms*/

/*#region Horizontal Forms*/
.form-horizontal .form-group {
	margin-bottom: 10px;

    > label {
        margin-bottom: 0;
        padding-top: 7px;
    }

    &:before {
    display: table;
    content: " ";
    }
    &:after  {
	    clear: both;
        display: table;
        content: " ";
    }
}
    
    
/*#endregion Horizontal Forms*/

.input-sm {
    height: 30px;
    padding: 5px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select.input-sm {
    height: 30px;
    line-height: 30px;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px !important;
    line-height: 1.33;
    border-radius: 6px;
}

select.input-lg {
    height: 46px;
    line-height: 46px;
}


/*#region Radios/Checkboxes*/
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.radio-inline, .checkbox-inline {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

    .checkbox-inline + .checkbox-inline,
    .radio-inline + .radio-inline {
        padding-left: 20px;
    }

    .radio-inline:first-of-type,
    .checkbox-inline:first-of-type {
        padding-left: 0;
    }

    .radio-inline + input.form-control,
    .checkbox-inline + input.form-control {
        margin-left: 20px;
        vertical-align: bottom;
    }

/*#endregion radios/checkboxes*/

/*#region Input Groups*/

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }

    .input-group .form-control,
    .input-group-btn {
        display: table-cell;
    }

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    font-size: 0;
}

    .input-group-btn > .btn {
        position: relative;
        padding: 7px 15px;

        &:disabled {
            padding: 6px 15px;
        }
    }

.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}

/*#endregion input groups*/
/*#endregion Form Controls */