@import "_mixins";

/*#region Common */

html, body, .siteLoadingPanel {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body, input, button {
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    background: url("/Content/Images/noise-pattern.png") repeat #39444E;
    color: $body-text-color;
}

hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 1.5rem 0;
    border-color: #D1D6E8;
}

ul {
    list-style: none;
}

    ul.bullet-list {
        list-style-type: square;
    }
/*#endregion*/

@import "_typography";

/*#region Columns & Flexbox Layout*/

//DEPRECATED BY BASSCSS
.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth {
    position: relative;
    float: left;
    padding-right: 20px;
}

.one-sixth {
    width: 16.6%;
}

.one-fifth {
    width: 20%;
}
.two-fifth {
	width: 40%;
}
.three-fifth {
    width: 60%;
}
.four-fifth {
    width: 80%;
}

.one-fourth {
    width: 25%;
}

.one-third {
    width: 33%;
}

.one-half {
    width: 50%;
}

.two-third {
    width: 66%;
}

.three-fourth {
    width: 75%;
}

.last {
    padding-right: 0;
}

//DEPRECATED BY BASSCSS
//Flexbox
.flex-container {
    display: flex;

    &-inline {
        display: inline-flex;
    }
    &.flex-dir-column {
        flex-direction: column;
    }

}

.flex-no-grow {
    flex: 0 1 auto;
}

.align-flex-end {
    align-items: flex-end;
    display: flex;
}

/*#endregion columns*/

/*#region Pace.js and Loading*/

body.pace-running #main-content {
    opacity: 0.5;
}

body.pace-done #main-content {
    opacity: 1;
    transition: opacity linear .4s;
}

body.pace-running {
    pointer-events: none;
    user-select: none;
}

.pace {
    pointer-events: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background-color: #a1e455;
    background-image: linear-gradient(to right, #38b5e7 25%, #a1e455 75%);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #a1e455, 0 0 5px #a1e455;
    opacity: 1.0;
            transform: rotate(3deg) translate(0, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    bottom: 12px;
    right: 12px;
    width: 18px;
    height: 18px;
    border: solid 2px transparent;
    border-top-color: #a1e455;
    border-left-color: #38b5e7;
    border-radius: 18px;
            animation: pace-spinner 400ms linear infinite;
}

@keyframes pace-spinner {
    0% {
                transform: rotate(0deg);
    }

    100% {
                transform: rotate(359deg);
    }
}

//Loading panel
.siteLoadingPanel {
    background: url("/Content/Images/noise-pattern.png") repeat #39444E;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1999;
}
#divLoadingPanel {
    display: flex;
    align-items: center;
    justify-content: center;     
    color:$gray-light;
    height: 100%;

    & > h3 {
        margin: -50px 0 0;
    }
}
    .siteLoadingPanel #OneDiscoveryLogo.logo-loadingpanel {
        z-index: 0;
    }

.dot-one {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.dot-two {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.dot-three {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*#endregion*/

/*#region Tables*/

table.table {
    width: 100%;
    max-width: 100%;
}

.table > thead > tr {
    background-color: #dae1e6;
}

.table > thead > tr > th {
    vertical-align: bottom;
}

.table th {
    text-align: left;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 7px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FAFAFA;
}

.table-row-border > thead > tr > th {
    border-bottom: 1px solid #dae1e6;
}

.table-row-border > tbody > tr > td {
    border-top: 1px solid #dae1e6;
}

/*#endregion tables*/

/*#region Workspace Docks */

#workspace {
    overflow: hidden;
    border: 0;
}

#leftColumn, #centerColumn, #rightColumn {
    display: inline-block;
    float: left;
}

#leftColumn {
    width: 20%;
}

#centerColumn {
    width: 55%;
}

#rightColumn {
    width: 25%;
}

.column-collapsed .layout-button-left,
.column-collapsed .layout-button-right {
    transform: rotate(90deg);
    position: relative;
    left: -3px;
}


.dockHeader {
    padding: 3px 0;
    width: 100%;
    user-select: none;
    cursor: default;
}

.top40Dock {
    height: 40%;
}

.top50Dock {
    height: 50%;
}

.top60Dock {
    height: 60%;
}

.top100Dock {
    height: 100%;
}

.hidePopup {
    display: none;
}

.panel-background-content {
    overflow: hidden;
    background-color: #F7F8FA;
}
.panelSubHeader {
  display: block;
  height: 38px;
  padding: 10px;
  position: relative;
  text-align: left;
  user-select: none;
  cursor: default;
  background-color: #F7F8FA;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08); 
}

.fixed-subHeader {
    position: fixed;
    height: 38px;
    background-color: white;
    z-index: 3;
}

    .fixed-subHeader + .fixed-subHeader-body {
        position: relative;
        top: 38px;
    }

.panelToolbar-right img {
    height: 12px;
    width: 12px;
}

.panelSubHeaderText {
    font-weight: $header-font-weight;
    color: #2386AE;
    font-size: 16px;
    position: absolute;
    padding-bottom: 10px;
}

.panelSubHeaderTextRight {
    right: 30px;
}

.panelToolbar {
    background: #C0C0C0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    height: 23px;
    padding: 0 3px;
    position: relative;
    text-align: left;
}

.panelToolbar-left,
.panelToolbar-right {
    display: inline-block;
    position: relative;
    top: -5px;
}

    .panelToolbar-left > span,
    .panelToolbar-right > span {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        color: #889CAE;
    }

        .panelToolbar-left > span:hover,
        .panelToolbar-right > span:hover {
            border: 1px solid #4D5B69;
            background-color: #4D5B69 !important;
            color: #D1D9E8;
        }

.panelToolbarIcon {
    cursor: pointer;
    position: relative;
    top: 4px;
}

.panelPreferences {
    background: linear-gradient(to bottom, #6F6F6F 0, #505050 10%) repeat scroll 0 0 transparent;
    cursor: pointer;
    padding: 3px 3px 0 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.preferencesMenuIcon {
    height: 16px;
    margin-top: 1px;
    width: 16px;
}

.preferencesMenu {
    background: none repeat scroll 0 0 #505050;
    background: none repeat scroll 0 0 rgba(80, 80, 80, 0.90);
    color: #FFFFFF;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 100;
}

.preferencesHeader {
    padding: 10px 10px 0;
}

.preferencesOptions {
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 10px 10px 0;
}

    .preferencesOptions li {
        margin: 8px 0;
    }

    .preferencesOptions select {
        font-size: 12px;
    }

    .preferencesOptions input[type=text] {
        width: 100px;
    }

.preferencesCommands {
    border-top: 1px solid #808080;
    bottom: 0;
    margin-bottom: 4px;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    background: #EBEBEB;
}

    .preferencesCommands input[type=button], .preferencesCommands input[type=submit] {
        padding: 2px 10px;
        margin: 0;
    }

.panel-body-scroll {
    overflow: auto;
    width: 100%;
    top:  40px;
    position: absolute;
    bottom: 3px;
}

/*#region Arrow box */

.arrow_box {
    position: absolute;
    background: #4d5b69;
    z-index: 800;
    right: 15px;
    text-align: center;
    display: none;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);

    & ul {
        list-style: none;
        margin: 0;
        padding: 10px;
    }

    & li {
        display: inline-block;
        border-radius: 6px;
        height: 41px;
        padding: 7px;
        vertical-align: middle;
        width: 41px;
        cursor: pointer;

        &.disable i {
            cursor: default;
            color: #79848E;
        }

        &.disable:hover {
            background: inherit;
        }

        &:hover {
            background: #45525E;
        }

        &.active {
            background: #39444E;

            & i {
                color: #8BC53F;
            }
        }
    }

    & i {
        color: #D1D9E8;
        font-size: 27px;
    }

    &:before {
        border: solid transparent;
        border-bottom-color: #4d5b69;
        border-width: 12px;
        bottom: 100%;
        content: " ";
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 50px;
        width: 0;
    }
    &#eye-menu:before {
        right: 25px;
    }
    &#eye-notes-menu {
        right: 35px;
    }
}


/*#endregion */

/*#endregion */

/*#region Document Organizer */


#documentOrganizer {
    background-color: #fff;
}

.folders {
    margin: 0;
    padding: 0;
    background: #D0D0D0;
    height: 100% !important;
}

#folderTree {
    bottom: 0;
    overflow: auto;
    position: absolute;
    text-align: left;
    top: 42px;
    width: 100%;
}

.documentcount {
    color: #858F9B;
    font-size: 12px;
    font-style: italic;
}

#leftcolumntitle i {
    margin-right: 10px;
}

/*#endregion */

/*#region Meta Grid*/

#metaGrid {
    height: 100%;
}

#metaGridContent {
    height: 100%;
}

#metaGridTabs, #gridView {
    border: 0;
}

.gridView-Emtpy {
    height: 100%;
    text-align: center;
}

.gridView-EmptyContent {
    display: block;
    padding-top: 40px;
}

#relatedDocuments {
    text-align: left;
    background: #dae1e6;
}

#relatedDocumentsMenu {
    width: 44px;
    overflow: hidden;
    background: #dae1e6;
    height: 100%;
}

    #relatedDocumentsMenu ul {
        background: none repeat scroll 0 0 #dae1e6;
        list-style: none outside none;
        margin: 0;
        padding: 1px 0 0;
        width: 44px;
        height: 100%;
    }

        #relatedDocumentsMenu ul li {
            background: #4B5B6B;
            border-radius: 6px;
            cursor: pointer;
            float: left;
            height: 35px;
            list-style: none;
            margin: 5px;
            padding: 4px;
            position: relative;
            text-align: center;
            top: 0;
            width: 35px;
        }

    #relatedDocumentsMenu li:hover {
        background: #4d5b69;
    }

    #relatedDocumentsMenu li.relatedDocumentsView-Selected {
        background: #2FB4E9;
        cursor: default;
    }

#relatedDocumentsGrid {
    background: #FFFFFF;
}

#MetaDatarelatedDocumentsMenu {
    background: #fff;
    width: 100%;
    height: 45px;
    border: 2px ridge #fff;
}

    #MetaDatarelatedDocumentsMenu ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    #MetaDatarelatedDocumentsMenu li {
        display: inline-block;
        border-radius: 6px;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        width: 45px;
        background: #4D5B69;
    }

        #MetaDatarelatedDocumentsMenu li > i {
            color: #D1D9E8;
            font-size: 20px;
        }

        #MetaDatarelatedDocumentsMenu li:hover {
            background: #abc489;
        }

        #MetaDatarelatedDocumentsMenu li.metaDatarelatedDocumentsMenu_selected > i {
            color: #abc489 !important;
        }

#metaGridTabs li.ui-state-default.ui-corner-top {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

    #metaGridTabs li.ui-state-default.ui-corner-top:hover {
        display: inline-block;
        cursor: pointer;
        padding: 0;
        margin: 2px;
        border-radius: 6px;
        box-sizing: border-box;
        border: 1px solid transparent;
    }

#metaGridTabs li > a > i {
    color: #EBEBEB;
    font-size: 16px;
}

#metaGridTabs .ui-tabs-nav li.ui-tabs-active {
    background: #4D5B69 !important;
    padding: 0 !important;
    margin: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    color: #abc489;
}

    #metaGridTabs .ui-tabs-nav li.ui-tabs-active > a > i {
        color: #abc489;
        font-size: 16px;
    }

/*#endregion*/

/*#region Tags*/

#tags {
    background: #EBEBEB;
}


/*#endregion*/

/*#region Coded Fields/Forms */


#codedFieldsList,
#codingFormsCodedFields,
#codingFormsTags {
    width: 100%;
    overflow: auto;
    font-family: $font-family;
}

    #codedFieldsList table,
    #codingFormsCodedFields table {
        width: 100%;
        max-width: 100%;
    }


    #codedFieldsList .alt,
    #codingFormsCodedFields .alt {
        background: #fafafa;
    }

    #codedFieldsList tr,
    #codingFormsCodedFields tr {
        background: #fff;
    }

    #codedFieldsList img {
        width: 16px;
        height: 16px;
    }

.codedFieldsImage,
.codedFieldsLabel,
.codedFieldsValue {
    border: 1px solid #DAE1E6;
    border-width: 0 0 1px 1px;
    color: #4D4E4F;
}

.codedFieldsImage {
    padding: 4px 6px;
    border-left: none;
}

.codedFieldsLabel {
    font-size: 12px;
    padding: 4px 8px;
}

.codedFieldsValue {
    padding: 0;
    width: 75%;
}

    .codedFieldsValue .form-control,
    .codedFieldsValue .jqx-datetimeinput-dr1 {
        border-radius: 0;
        margin: 0;
        border: none;
        box-shadow: none;
    }

    .codedFieldsValue [class*="jqx-dropdownlist-"] {
        border: 0;
        border-color: #A3ABB4;
        background-color: #FAFDFF;
    }

        .codedFieldsValue [class*="jqx-dropdownlist-"].jqx-fill-state-hover {
            background-color: #EFF2F4;
        }

    .codedFieldsValue .jqx-fill-state-pressed-dr1 .jqx-icon-arrow-down-selected-dr1,
    .codedFieldsValue .jqx-fill-state-hover .jqx-icon-arrow-down-hover-dr1 {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAIAAAC0D9CtAAAABnRSTlMA/wD/AP83WBt9AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAASUlEQVR42u2SMQ4AIAjEii+Fl/FUHFyMSIyr8UZoAwlIRHCZxn1ed8zsWNnMmaEslLsNdCsAkm+6oO5+njNDWQCIIqpateT/Gx2rbEeRwEtbUQAAAABJRU5ErkJggg==') /*!jQWidgets/images/metro-icon-down.png*/;
    }

    .codedFieldsValue .jqx-fill-state-pressed-dr1 .jqx-dropdownlist-content {
        color: #4D5B69;
    }

#codingFormsList {
    padding: 10px;
    background: white;
}

/*#endregion*/

/*#region Notes*/


.noteWrapper {
    padding: 5px;
    border-bottom: 1px solid #DCE2ED;
}

    .jqx-listitem-state-selected-dr1 .noteWrapper {
        border-bottom: none;
    }

.noteUser,
.noteDate,
.notePrivate {
    display: inline;
}

.noteDate {
    padding: 0 0 10px 10px;
    font-size: 12px;
}

.noteBody {
    margin: 5px 0 0 0;
    max-width: 450px;
    white-space: normal;
}

.notePrivate.ico-lock {
    font-size: 12px;
    padding: 0 5px;
    color: #9CA2AD;
}

    .jqx-listitem-state-selected-dr1 .notePrivate.ico-lock {
        color: white;
    }

/*#endregion*/

/*#region Export*/

.txtendorse {
    width: 150px;
    height: 100px;
    resize: none;
}

.endorsepadding {
    float: left;
    padding-left: 15px;
}

#CodedListId,
#preferenceListId,
#advExpMetadataListId {
    border-width: 1px 0 0 0;
}

#bindProductionListId .dynatree-container {
    border: 1px solid #D1D6E8;
    border-top: none;
}

#txtareaRenditionMetadata {
    user-select: none;
}

/*#endregion*/


/*#region OP Casesetup*/

.CaseGridCaseSetup {

    .foldernametagcontainer {
        display: inline-block;

        span {
            font-style: italic;
            font-size: 12px;
            color: #989898;
        }

        span:first-child, span:last-child {
            color: black;
        }
    }

    .btn {
        margin-bottom: 0;
        vertical-align: top;
    }

    .form-inline .form-group label {
        padding-left: 0;
        padding-bottom: 5px;
    }   
}

.icon-shadow{
    text-shadow:-0.8px 0 $brand-blue, 0 0.8px $brand-blue, 0.8px 0 $brand-blue, 0 -0.8px $brand-blue
}

/*#endregion*/

/*#region Firefox Only/Hacks*/

@-moz-document url-prefix() { 
}

/*#endregion firefox only*/