@import "_variables";

@mixin active-icon-green-glow {
    color: $brand-green;
    text-shadow: 0 0 3px change-color($brand-green, $saturation: 100%, $lightness: 88%, $alpha: .4);
}

@mixin active-blue-glow {
    border: 1px solid $brand-blue;
    box-shadow: 0 0 6px change-color($brand-blue, $saturation: 100%, $lightness: 88%, $alpha: .75);
    background: white;
}

@mixin nav-btn-disabled {
    color: $color-primary;
    opacity: .5;
}

@mixin has-error {
    border: 1px solid $color-danger;
    box-shadow: 0 0 4px 0 rgba($color-danger,0.70);
}

@mixin has-warning {
    border: 1px solid $color-warning;
    box-shadow: 0 0 4px 0 rgba($color-warning,0.70);
}

@mixin has-success {
    border: 1px solid $color-success;
    box-shadow: 0 0 4px 0 rgba($color-success,0.70);
}

@mixin disabled {
    color: $color-disabled;
    cursor: not-allowed;
    box-shadow: none;
}