@import "_mixins";
/*#region Icomoon Icons */

.ico-group-tag {
    color: #eba30d;
}

.dynatree-node {

    [class^="ico-"] {
        font-size: 18px;
    }

    .ico-folder-closed, .ico-folder-open {
        font-size: 16px;
        color: #dea95b;
    }

    .ico-batch {
        color: #878274;
    }

    .ico-batch-checked-in {
        color: #8BC53F;
    }

    .ico-batch-checked-out {
        color: #E74C3C;
    }

    .ico-autopool {
        color: #31C2D8;
    }

    .ico-folder-processing {
        color: $brand-blue-dark;
    }
}

.header-icons-green {
    color: #abc489
}

#st-trigger-effects button.burger-menu > i {
    font-size: 26px;
}

#menuBar .jqx-menu-ul,
.userMenuBar .jqx-menu-ul{

    [class^="ico-"] {
        @extend .header-icons-green;
        font-size: 32px;
        line-height: 60px;
    }

    .ico-user-line {
        font-size: 24px;
        padding: 4px;
        margin-left: 15px;
        margin-right: 10px;
        vertical-align: top;
    }

    .ico-viewer-collapse {
                transform: rotate(180deg);
        display: inline-block;
        transition: .2s ease-out;
        font-size: 16px !important;
    }

    li.jqx-fill-state-pressed-dr1 .ico-viewer-collapse {
                transform: rotate(0);
        @extend .header-icons-green;
    }

    ul li:hover i,
    li.jqx-fill-state-pressed-dr1 i {
        @include active-icon-green-glow;
    }

    /*li.jqx-fill-state-pressed-dr1 i {
        text-shadow: 0 0 3px change-color($brand-green, $saturation: 100%, $lightness: 88%, $alpha: .4);
    }*/
}

.userMenuBar .jqx-menu-ul [class^="ico-"] {
    line-height: 50px;
}

#adminFolderTree {
    [class^="ico-"] {
        font-size: 18px;
        @extend .header-icons-green;
        display: inline-block;
        margin-right: 10px;
    }

    span.dynatree-active i {
        @include active-icon-green-glow;
    }
}

.panel-header .panel-tool [class^="ico-"] {
    font-size: 16px;
    color: #ecf0f1;
    transition: transform .2s ease-out;
    padding: 5px;
    display: inline-block;
}

.additional-panel-header .panel-tool [class^="ico-"] {
    color: #889CAE;
}

.additional-panel-header .panel-tool span:hover [class^="ico-"] {
    color: #ecf0f1;
}

.panelToolbar-left i {
    font-size: 18px;
    vertical-align: top;
}

.panelToolbar-right i {
    font-size: 16px;
    position: relative;
    top: 1px;
    vertical-align: top;
}

.codedFieldsImage i {
    font-size: 16px;
    color: #8F9CA8;

    &.text-danger {
        color: #E74C3C;
    }
}

    

#relatedDocumentsMenu {
    .ico-email-threads {
        font-size: 20px;
        position: relative;
        top: 3px;
    }

    li > i {
        font-size: 27px;
        color: #ecf0f1;
    }
}

#footer-content {
    .ico-lock {
        color: #F0C330;
    }

    .rend-item-active i {
        color: #39B5E7;
    }
}

footer {
    .ico-power {
        margin-right: 10px;
        vertical-align: text-bottom;
        text-shadow: 0 0 0 transparent;
        font-size: 18px;
    }

    .ico-spy {
        font-size: 28px;
        position: relative;
        bottom: 3px;
        -webkit-transition: all .12s ease-out;
        transition: all .12s ease-out;
        margin-right: 5px;
    }

    .btn-signin-as:hover .ico-spy {
        font-size: 32px;
        bottom: 5px;
    }
}

//MS Office Icons
.ico-ms-excel,
.ico-ms-powerpoint,
.ico-ms-project,
.ico-ms-visio,
.ico-ms-word {
    font-size: 40px;
}
.ico-ms-excel { color: #56b381;}
.ico-ms-powerpoint { color: #e3836d;}
.ico-ms-project { color: #60ba5d;}
.ico-ms-visio { color: #6481d1;}
.ico-ms-word { color: #5a82bf;}

#divApplicationSettings {
    .ico-composite, 
    .ico-preferences,
    .ico-image-viewer { 
        color:$color-primary;
        font-size: 40px; 
    }
}

[class^="ico-file-"]:not(.ico-file-check):not(.ico-file-tree) {font-size: 16px;}
.ico-file-pdf { color: #F0544F;}
.ico-file-access { color: #CB4894;}
.ico-file-word {color: #0D87DC;}
.ico-file-vizio { color: #2A4CBA;}
.ico-file-project {color: #71AE29;}
.ico-file-powerpoint { color: #D64311;}
.ico-file-excel { color: #2F8336;}

/*#endregion Icomoon Icons */