/*#region Unauthorized */

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        list-style: none;
        padding: 0;
        margin: 3em 0;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        background-color: #dedede;
        border: 1px solid gray;
        border-radius: 5px;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

/*#endregion */

/*#region Noty & Validation */

ul#noty_topCenter_layout_container {
    top: 10px !important;
}

/*.disabled {
    background-color: #C6C9CC;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 1;
}*/

.validation-summary-errors {
    width: auto;
    padding-left: 10px;
    text-align: center;
    margin-top: 30px;
}

    .validation-summary-errors ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

/*#endregion */