//Typography
$base-font-family: 'Lato', Verdana, Helvetica, Sans-Serif !default;
$font-family: 'Lato';
$base-font-size: 14px !default;
$base-font-weight: 400 !default;
$body-text-color: #4D4E4F;

$bold-font-weight: 900;
$header-font-weight: 700;
$medium-font-weight: 700;

//Colors
$color-primary: #889CAE;
$color-secondary: #2A88AD;
$color-success: #46BB39;
$color-warning: #E47E30;
$color-danger: #d75548;
$color-muted: #858F9B;
$color-disabled: #C6C9CC;

//Accent colors
$brand-blue: #2FB4E9;
$brand-blue-light: #63C6EE;
$brand-blue-dark: #2386AE;

$brand-green: #8BC53F;
$brand-green-light: #A8D36F;
$brand-green-dark: #8BC53F;

//Grays
$gray-base: #889CAE;
$gray-base-light: #A5B4C2;
$gray-base-dark: #657482;
$gray-light: #D1D9E8;
$gray-lightest: #DCE2ED;
$gray-dark: #4D5B69;
$gray-darkest: #39444E;

//Buttons
$btn-color-light: #ECF0F1;
$btn-color-dark: #4D5B69;

//Const Colors
$issue-responsive: #cde6cd;
$issue-non-responsive:#cdffff;